h1 {
  margin: 0px 0px;
  color: rgb(255, 255, 255);
}

a:link {
  font-size: 20px;
  color: orange;
}

p {
  margin: 0px;
  font-size: 20px;
}

body {
  margin: 0px 0px;
}

header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

main {
  margin: 10px;
  padding: 10px;
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contents {
  flex-basis: 25%;
  border: 3px solid rgb(238, 204, 204);
  padding: 10px 15px;
  margin: 20px 0px;
  text-align: center;
  flex-grow: 1;
}

h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}

.umbrella {
  color: rgb(97, 206, 249);
}
img {
  margin: 10px 0;
  width: 70%;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}
a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
  #parent {
    flex-direction: column; /* 縦並び */
  }
  .contents {
    flex-basis: 100%;
  }
}
